{
    "extends": "airbnb-base",
    "rules": {
        "no-console": 0,
        "prefer-destructuring": 0,
        "treatUndefinedAsUnspecified": true,
        "arrow-body-style": 0,
        "comma-dangle": 0
    },
    "env": {
        "commonjs": true,
        "node": true,
        "mocha": true
    }
}
